.github/**
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# test files
**/runway.yaml
**/runway.yml

# vscode extension artifact
**/*.vsix

# assets/image for docs
assets/**
