.github/**
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# test files
**/runway.yaml
**/runway.yml

# python files
.venv/**
poetry.lock
poetry.toml
pyproject.toml
setup.cfg
vscode_runway.py

# vscode extension artifact
**/*.vsix

# assets/image for docs
assets/**
